.checkOut {
  background-color: #892a0f;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkInfo {
  width: 60%;
  height: 700px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.successOrder {
  width: 30%;
  height: 300px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.amountPrice {
  display: flex;
}

.number {
  margin-left: 10px;
}

.itemForm {
  display: flex;
  flex-direction: column;
}

.labelForm {
  margin-bottom: 10px;
}
.labelForm.error {
  color: red;
}

.iputForm {
  margin-bottom: 20px;
  padding: 5px 10px;
  width: 300px;
}

.btnCancel {
  padding: 5px 10px;
  margin-right: 20px;
  border: 1px solid white;
  background-color: white;
  text-decoration: underline;
}

.btnConfirm {
  padding: 5px 10px;
  margin-right: 20px;
  color: white;
  border: 1px solid #802408;
  background-color: #802408;
  border-radius: 20px;
}

.errormsg {
  margin-bottom: 10px;
}
